body {
	padding: 0;
	margin: 0;

	background: rgb(215, 228, 236);
	color: rgb(37, 40, 43);

	font-family: 'Courier New', Courier, monospace;
}

h1, h4 {
	margin: 0;
	line-height: normal;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width: 100%;
	min-height: 100vh;
}

#audio {
	width: 90%;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;

	background: rgba(37, 40, 43, 0.15);

	z-index: 100;
}

.modal .alert {
	padding: 1rem;

	background: white;
	border-radius: 1rem;

	width: 85%;
}

.modal .alert button {
	float: right;
	border: 0;
	border-radius: 90px;
	background: transparent;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	outline: none;
}

.modal .alert button:hover {
	background: #f0f0f0;
}

.modal .alert h4 {
	margin: 1rem;
}

.modal .alert h1 {
	margin: 1rem;
	text-align: right;
	font-size: 4rem;
}

.modal .alert p {
	margin: 1rem;
}

#notif.modal .alert {
	border-top: 0.25rem solid rgb(190, 30, 30);
}

#score.modal .alert {
	border-top: 0.25rem solid rgb(30, 118, 190);
}